body {
    background-color: #282828;
    color: white;
}
*{
    color: white;
}
.login {
    color: black;
}
#id_username, #id_title, #id_password, #id_email, #id_password1, #id_password2 {
    color: black;
}
.black-color{
    color: black;
}
.btn-on-hover:hover{
    background-color: black;
    color: white;

}
.btn-simple:hover, .btn-simple:focus, .btn-simple:active, .btn-simple.active, .open>.dropdown-toggle.btn-simple {
    color: #ffffff;
    background-color: #495057;
    border-color: #343a40; /*set the color you want here*/
}
.center-container {
    display: flex;
    justify-content: center;
  }